* {
    box-sizing: border-box;
}

body{
    background-color: #F0F2F5;
}

.container{
    max-width: 90%;
    margin: auto;
}

.error-message{
    color: red;
}

.form-button{
    padding-bottom: 10px;
    padding-top: 10px;
}