.input{
    background-color: #F8F8F8;
    border: 1px solid #F0F2F5;
    border-radius: 6px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px;
}

.link{
    text-decoration: none;
}