.login-card{
    width: 360px;
    /* height: 400px; */
    background-color: #fff;
    border-radius: 10px;
}

.content-card{
    display: flex;
    flex-direction: column;
    gap: 24px;
    /* justify-content: center; */
    /* align-items: center; */
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.up-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.card-logo{
    width: 48px;
    height: 48px;
}

.card-title{
    font-size: 24px;
    font-weight: 600;
}

.login-button{
    background-color: #001529;
    color: #fff;
}

.creater-button{
    background-color: #fff;
    color: #000;
    border: 1px solid #F0F2F5 !important;
}