.request-form{
    background-color: #fff;
    border-radius: 10px;
    width: 80%;
}

.request-form_container{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.request-form_title{
    font-size: 27px;
    font-weight: 550;
}

.block-title{
    font-size: 20px;
    font-weight: 450;
}

.time-block{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 15px;
}

.time-block_text{
    font-size: 15px;
    font-weight: 450;
}

.files-block{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cleaer-files{
    width: 150px;
    background-color: #fff;
    border: 2px solid red;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
    color: red;
    margin-left: 7px;
}

.cleaer-files:hover{
    background-color: red;
    color: #fff;
    transition: all 0.25s ease-out;
}

.file-input{
    width: 300px;
    background-color: #fff;
    border: none;
}